<div class="wrapper" *ngIf="event">
    <div class="row">
        <div class="col-md-3 event-left">
            <h3 style="text-align: center;">{{event.titulo}}</h3>
            <h5 style="text-align: center;">{{event.precio}}</h5>
            <h5 style="text-align: center;">{{event.fecha}}</h5>
            <h6 style="text-align: center;">{{event.descripcion}}</h6>
            <h6 style="text-align: center;">{{event.categoria}}</h6>
            <h6 style="text-align: center;">{{event.subCategoria}}</h6>
            <h6 style="text-align: center;">{{event.enlace}}</h6>
        </div>
    </div>
</div>