<div class="row centrado">
    <div class="col-md-2"></div>
    <div class="col-md-8" *ngIf="eventos.length>0 && cargado">
        <app-evento-tarjeta [evento]="evento" [misEventos]="misEventos" [misAsistencias]="misAsistencias" (eventoSeleccionado)="mostrarEvento($event)" *ngFor="let evento of eventos "></app-evento-tarjeta>
    </div>
    <div class="col-md-8" *ngIf="eventos.length==0 && cargado">
        <div class="jumbotron">
            <h1 class="display-4 titulo-jumbotron">En estos momentos no tiene ninguna asistencia</h1>
            <p class="lead descripcion-jumbotron">Aquí aparecerán sus asistencias cuando disponga de ellas.</p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>