<div *ngIf="usuario && usuario['profesional']===true" class="row ">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="card my-4">
            <div class="card-body formulario">
                <h4 class="card-title">Mi perfil</h4>


                <form class="form p-t-20" [formGroup]="perfilProfesionalForm" (submit)="editarPerfilProfesional()">

                    <div class="form-group">
                        <label for="nombre">Nombre</label>

                        <input type="text" class="form-control" id="nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                        <small *ngIf="nombreCampoRequerido" class="text-danger">Campo requerido</small>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>

                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ejemplo@gmail.com" formControlName="email" [class.is-invalid]="emailNoValido" readonly>
                        <small *ngIf="emailCampoRequerido" class="text-danger">Campo requerido</small>
                        <small *ngIf="vvalidarEmail" class="text-danger">Email no valido</small>

                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha de nacimiento</label>


                        <input type="date" class="form-control" id="fecha" placeholder="2000-10-05" formControlName="fechaNacimiento" [class.is-invalid]="fechaNoValido">
                        <small *ngIf="fechaCampoRequerido" class="text-danger">Campo requerido</small>
                        <small *ngIf="fechaFechaPosteriorAHoy" class="text-danger">Debes ser del 2008 o menos</small>
                    </div>

                    <div class="form-group">
                        <label for="categoria">Sector</label>
                        <select class="form-control" id="sector" name="sector" formControlName="sector" [class.is-invalid]="sectorRequerido" style="height: 50px;">
                                <option value=""></option>
                                <option value="Arte y cultura">Arte y cultura</option>
                                <option value="Deporte">Deporte</option>
                                <option value="Economía">Economía</option>
                                <option value="Educación">Educación</option>
                                <option value="Entretenimiento">Entretenimiento</option>
                                <option value="Física">Física</option>
                                <option value="Gastronomía">Gastronomía</option>
                                <option value="Medicina">Medicina</option>
                                <option value="Tecnología">Tecnología</option>
                                <option value="Otro">Otro</option>
                            </select>
                        <small *ngIf="sectorRequerido" style="color: red;">Sector requerido</small>
                    </div>


                    <div class="form-group">
                        <label for="descripcion">Descripción</label>


                        <textarea rows="4" type="text" class="form-control" id="descripcion" formControlName="descripcion" [class.is-invalid]="descripcionNoValido"></textarea>
                        <small *ngIf="descripcionCampoRequerido" class="text-danger">Campo requerido</small>
                    </div>

                    <div class="form-group">
                        <label for="precio">Precio suscripción <i style="cursor: pointer;" class="far fa-question-circle" mat-raised-button matTooltip="Precio para suscripción mensual. Tus suscriptores podrán asistir a tus eventos gratis durante el mes de suscripción." matTooltipClass="example-tooltip-red" ></i></label>
                        <input type="number" class="form-control" id="precio" min="1" max="999" formControlName="precioSuscripcion" [class.is-invalid]="precioSuscripcionNoValido">
                        <small *ngIf="precioSuscripcionRequerido" class="text-danger" style="padding-top: 5px;">Campo requerido.&nbsp;</small>
                        <small *ngIf="precioSuscripcionPositivo" class="text-danger" style="padding-top: 5px;">Debe ser un valor positivo</small>
                    </div>

                    <div class="col-md-4 info" *ngIf="usuario.img != 'undefined'">
                        <label for="subcategoria">Imagen actual: </label>
                        <img class="card-img-top img-hover-zoom" src={{usuario.img}} alt="Card image cap" width="100%">
                    </div>
                    <div class="col-md-4 info " *ngIf="usuario.img == 'undefined'">
                        <label for="subcategoria">Imagen actual: </label>
                        <img class="card-img-top img-hover-zoom" src="/assets/images/no_image.jpg" alt="Card image cap" width="100%">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="img">Nueva imagen</label>
                        <input type="file" class="form-control" id="img" formControlName="img" (change)="cambiarImagen($event)" accept="image/x-png,image/gif,image/jpeg">
                    </div>




                    <button type="submit" class="btn btn-dark btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar cambios
                    </button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<div *ngIf="usuario && usuario['profesional']===false" class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="card my-4">
            <div class="card-body formulario">
                <h4 class="card-title">Mi perfil</h4>


                <form class="form p-t-20" [formGroup]="perfilForm" (submit)="editarPerfil()">

                    <div class="form-group">
                        <label for="nombre">Nombre</label>

                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre" [class.is-invalid]="nombreNoProfNoValido">
                        <small *ngIf="nombreNoProfCampoRequerido" class="text-danger">Campo requerido</small>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>

                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ejemplo@gmail.com" formControlName="email" [class.is-invalid]="emailNoProfNoValido" readonly>
                        <small *ngIf="emailNoProfCampoRequerido" class="text-danger">Campo requerido</small>
                        <small *ngIf="vvalidarNoProfEmail" class="text-danger">Email no valido</small>
                    </div>

                    <div class="form-group">
                        <label for="fecha">Fecha de nacimiento</label>

                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="date" class="form-control" id="fecha" placeholder="2000-10-05" formControlName="fechaNacimiento" [class.is-invalid]="fechaNoProfNoValido">
                        <small *ngIf="fechaNoProfCampoRequerido" class="text-danger">Campo requerido</small>
                        <small *ngIf="fechaFechaNoProfPosteriorAHoy" class="text-danger">La fecha debe ser anterior a hoy</small>
                    </div>


                    <div class="col-md-4 info" *ngIf="usuario.img != 'undefined'">
                        <label for="subcategoria">Imagen actual: </label>
                        <img class="card-img-top img-hover-zoom" src={{usuario.img}} alt="Card image cap" width="100%">
                    </div>
                    <div class="col-md-4 info " *ngIf="usuario.img == 'undefined'">
                        <label for="subcategoria">Imagen actual: </label>
                        <img class="card-img-top img-hover-zoom" src="/assets/images/no_image.jpg" alt="Card image cap" width="100%">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="img">Nueva imagen</label>
                        <input type="file" class="form-control" id="img" formControlName="img" (change)="cambiarImagen($event)" accept="image/x-png,image/gif,image/jpeg">
                        <small *ngIf="formatoNoValido" class="text-danger">Debe elegir una imagen</small>
                    </div>

                    <button type="submit" class="btn btn-dark btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar cambios
                    </button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>