<div class="row centrado">
    <div class="col-md-2"></div>
    <div class="col-md-8" *ngIf="misChats.length>0 ">
        <app-chat-tarjeta [chat]="chat" (chatSeleccionado)="mostrarChat($event)" *ngFor="let chat of misChats "></app-chat-tarjeta>
    </div>
    <div class="col-md-8" *ngIf="misChats.length==0 ">
        <div class="jumbotron">
            <h1 class="display-4 titulo-jumbotron">En estos momentos no tiene ningún chat activo</h1>
            <p class="lead descripcion-jumbotron">Para comenzar un chat con un profesional pulse el botón <strong>Contacto</strong> del evento al que esté interesado.</p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>