<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 ">
    <a class="navbar-brand " style="margin-top: 10px; margin-bottom: 10px;" href="#">ComfyStream</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" *ngIf="profesional">
                <a *ngIf="usuario" class="nav-link" routerLink="/mis-eventos">Mis eventos</a>
            </li>

            <li class="nav-item" *ngIf="profesional || usuario">
                <a *ngIf="usuario" class="nav-link" routerLink="/mis-asistencias">Mis asistencias</a>
            </li>

            <li class="nav-item" *ngIf="profesional || usuario">
                <a *ngIf="usuario" class="nav-link" routerLink="/mis-chats">Mis chats</a>
            </li>

            <li class="nav-item" *ngIf="usuario">

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item " *ngIf="usuario">
                <a *ngIf="usuario" class="nav-link" routerLink="/mi-cuenta">Mi cuenta</a>
            </li>
            <li class="nav-item " *ngIf="usuario">
                <a *ngIf="usuario" class="nav-link" routerLink="/mi-perfil">Mi perfil</a>
            </li>

            <li class="nav-item">
                <a *ngIf="!usuario" class="nav-link" (click)="logout()">Iniciar sesión</a>
                <a *ngIf="usuario" class="nav-link" (click)="logout()">Cerrar sesión</a>
            </li>
        </ul>


        <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="logout()"> Cerrar sesion</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->

        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>