<div class="d-none d-lg-block d-xl-block">
    <div class="jumbotron " style="padding-top: 30px;">
        <h1 class="display-4 titulo-jumbotron ">¡Bienvenido a ComfyStream!</h1>
        <p class="lead descripcion-jumbotron">La plataforma de conferencias online donde podrás compartir tus conocimientos y adquirir nuevos organizando o asistiendo a charlas de profesionales sobre temas tan diversos como economía, ciencia, educación, emprendimiento, etc., además de poder
            solicitar consultas privadas a estos profesionales.</p>
    </div>
</div>
<div class="d-none d-md-block d-block d-lg-none d-xl-none">
    <div class="jumbotron " style="padding-top: 50px;">
        <h1 class="display-4 titulo-jumbotron ">¡Bienvenido a ComfyStream!</h1>
        <p class="lead descripcion-jumbotron">La plataforma de conferencias online donde podrás compartir tus conocimientos y adquirir nuevos organizando o asistiendo a charlas de profesionales sobre temas tan diversos como economía, ciencia, educación, emprendimiento, etc., además de poder
            solicitar consultas privadas a estos profesionales.</p>
    </div>
</div>



<!-- <div class="row centrado">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <app-evento-tarjeta [evento]="evento" [misEventos]="misEventos" [misAsistencias]="misAsistencias" (eventoSeleccionado)="mostrarEvento($event)" *ngFor="let evento of eventos "></app-evento-tarjeta>
    </div>
    <div class="col-md-1"></div>
</div> -->
<div class="d-none d-lg-block d-xl-block">
    <div class="row " style="margin: 0px;">
        <div class="col"></div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 div-inicio" style="padding-bottom: 0px;">
                <app-evento-tarjeta [evento]="evento" [misEventos]="misEventos" [misAsistencias]="misAsistencias" (eventoSeleccionado)="mostrarEvento($event)" *ngFor="let evento of eventos "></app-evento-tarjeta>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="d-none d-md-block d-block d-lg-none d-xl-none">
    <div class="row " style="margin: 0px;">
        <div class="col"></div>
        <div class="col-md-10">
            <div class="row row-cols-1 row-cols-md-3 div-inicio" style="padding-bottom: 0px;">
                <app-evento-tarjeta [evento]="evento" [misEventos]="misEventos" [misAsistencias]="misAsistencias" (eventoSeleccionado)="mostrarEvento($event)" *ngFor="let evento of eventos "></app-evento-tarjeta>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>