<div *ngIf="usuario && usuario['profesional']===false" class="row">

    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body formulario">
                <h4 class="card-title text-center">Ser un profesional</h4>
                <form class="form p-t-20" [formGroup]="perfilProfesionalForm" (submit)="editarPerfilProfesional()">

                    <div class="form-group">
                        <h6 class="card-title text-center">¿Convertirse en usuario profesional?</h6>
                        <input type="checkbox" class="form-control" [(ngModel)]="profesional" formControlName="profesional">
                    </div>

                    <div class="form-group" [hidden]="!profesional">
                        <label for="nombre">Sector</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="sector" formControlName="sector" [class.is-invalid]="sectorNoValido">
                            <small *ngIf="sectorCampoRequerido" class="text-danger">Sector requerido</small>
                        </div>
                    </div>

                    <div class="form-group" [hidden]="!profesional">
                        <label for="nombre">Descripción</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="descripcion" formControlName="descripcion" [class.is-invalid]="descripcionNoValido">
                            <small *ngIf="descripcionCampoRequerido" class="text-danger">Descripcion requerido</small>
                        </div>
                    </div>

                    <div class="form-group" [hidden]="!profesional">
                        <label for="nombre">IBAN</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cuentaBancariaIBAN" formControlName="cuentaBancariaIBAN" [class.is-invalid]="ibanNoValido">
                            <small *ngIf="ibanCampoRequerido" class="text-danger">IBAN requerido</small>
                        </div>
                    </div>

                    <div class="form-group" [hidden]="!profesional">
                        <label for="nombre">Titular de cuenta</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="titularCuenta" formControlName="titularCuenta" [class.is-invalid]="titularNoValido">
                            <small *ngIf="titularCampoRequerido" class="text-danger">Titular de cuenta requerido</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Actualizar cuenta
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3"></div>

</div>