<div class="col mb-4 animated fadeIn tarjeta">
    <div class="row ">
        <div class="col-md-3" *ngIf="evento.img">
            <img class="card-img-top " src={{evento.img}} alt="Card image cap">
        </div>
        <div class="col-md-3" *ngIf="!evento.img">
            <img class="card-img-top " src="/assets/images/no_image.jpg" alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="titulo">
                <h5 class="card-title">{{evento.titulo}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text fecha"> <strong>Profesional : {{usuario.nombre}}</strong> &nbsp;
                    <ngb-rating [max]="5" [(rate)]="usuario.valoracionMedia" [readonly]="true"></ngb-rating> &nbsp;
                    <span *ngIf="usuario.numeroValoraciones==1">({{usuario.numeroValoraciones}} valoración)</span>
                    <span *ngIf="usuario.numeroValoraciones>1">({{usuario.numeroValoraciones}} valoraciones)</span>
                    <span *ngIf="!usuario.numeroValoraciones">(0 valoraciones)</span>
                </p>
            </div>
            <div class="card-body">
                <p class="card-text fecha" style="margin-bottom: 10px;"> Categoria : {{evento.categoria}}</p>
            </div>
            <div class="card-body">
                <p class="card-text fecha" style="margin-bottom: 10px;"> Fecha : {{evento.fecha | date: 'dd/MM/yy HH:mm'}} - Duración : {{evento.duracion}} minutos</p>
            </div>


        </div>
        <div class="col-md-1 px-0">
            <div class="titulo">
                <h5 class="card-title">‎</h5>
            </div>
            <div class="card-body">
                <p class="card-text precio"><strong>{{evento.precio }} € </strong></p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="botones-container">
                <a *ngIf="!esMio && !yaTengoUnChatConElCreador" class="botones" (click)="iniciarChat()">Contacto</a>
                <a *ngIf="!esMio && yaTengoUnChatConElCreador" class="botones" (click)="getChatExistente()">Ver chat</a>
                <a class="botones" (click)="mostrarEvento()">Más detalles</a>
                <a *ngIf="!esMio && !asistido" class="botones asistir" (click)="asistir()">¡Quiero asistir!</a>
                <a *ngIf="esMio && activo" class="botones" (click)="comenzarEvento()">Comenzar evento</a>
                <a *ngIf="asistido && activo" class="botones" (click)="entrarEvento()">Entrar al evento</a>
            </div>
        </div>
    </div>
</div>