<footer class="bg-dark text-center text-lg-start-footer footer">
    <div class="row m-0">
        <div class="col-md-1"></div>
        <div class="text-left col-md-3 py-3">
            <a class="text-light" href="https://comfystream-s2.web.app/">ComfyStream</a>
        </div>
        <div class="text-right col-md-2 py-3">
            <a class="text-light" routerLink="/support">Soporte</a>
        </div>
        <div class="text-right col-md-2 py-3">
            <a class="text-light" routerLink="/ToS">Términos de uso</a>
        </div>
        <div class="text-right col-md-2 py-3">
            <a class="text-light" routerLink="/policy">Política de privacidad</a>
        </div>

    </div>
</footer>